*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Figtree;
  src: url(assets/fonts/static/Figtree-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Figtree;
  src: url(assets/fonts/static/Figtree-ExtraBold.ttf) format("truetype");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}

:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 50%);
  --black: hsl(0, 0%, 7%);

  font-size: 16px;
}

body {
  font-family: Figtree, Arial, Helvetica, sans-serif;
  min-height: 100vh;
  background-color: var(--yellow);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 156px 1.5rem;
}

.card {
  border: 1px solid var(--black);
  padding: 1.5rem;
  background-color: var(--white);
  border-radius: 16px;
  width: 100%;
  max-width: 23.875rem;
}

.banner {
  display: block;
  border-radius: 10px;
  margin-block-end: 1.5rem;
  width: 100%;
  object-fit: cover;
}

.tag {
  display: inline-block;
  background-color: var(--yellow);
  font-weight: 800;
  padding: 0.5rem 1rem;
  border-radius: 6px;
}

.published-at {
  margin-block: 16px 24px;
}

.link {
  display: block;
  margin-block-end: 24px;
  font-size: 1.45rem;
  font-weight: 800;
  text-decoration: none;
  color: var(--black);
  transition: color 0.25s;
}

.link:hover,
.link:focus {
  color: var(--yellow);
}

.preview {
  line-height: 1.5;
  color: var(--grey);
  margin-block-end: 24px;
}

.author {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-weight: 800;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-block-start: 24px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 36rem) {
  .link {
    font-size: 1.525rem;
  }
}
